.table {
  border-bottom: 0 !important;
  th, td {
    border: 0 !important;
  }
  td {
    color: #fff;
    &.price {
    }
  }
  &.order {
    tr.totals {
      td {
        font-weight: bold;
      }
    }
    td {
      color: #222;
      width: 33%;
      span {
        width: 40px;
      }
      i {
        cursor: pointer;
      }
    }
  }
}

.fixed-table-container {
  border: 0 !important;
}

.top {
  margin-top: 10px;
  margin-bottom: 10px;
  div.title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}

.orange {
  color: #0077EF;
  background-color: rgba(230, 95, 14, 0.8);
  a {
    color: inherit;
    &:hover {
      color: darken(#EFEFEF, 0.75);
      text-decoration: none;
      transition: color 500ms;
    }
  }
}

.navbar-default {
  background: inherit;
  border: none;
  min-height: 10px;
}

.google-map-container {
  height: 150px;
}

ng-map {
  height: 100%;
}
