<div class="container">
    <div class="row top">
        <div class="col-lg-6">
            <img src="assets/images/main.png" class="img-fluid" alt="Creta">
        </div>
        <div class="col-lg-6">
            Jouw bestelling:
            <table class="table table-responsive checkout">
                <tr ng-repeat="item in $ctrl.order">
                    <td>
                        <span>{{item.qty}}</span>
                    </td>
                    <td>{{item.item.name}}</td>
                    <td class="text-right price">{{item.item.price * item.qty | currency:''}}</td>
                </tr>
                <tr ng-if="$ctrl.deliveryCost > 0">
                    <td></td>
                    <td>Bezorgkosten</td>
                    <td class="text-right price">{{$ctrl.deliveryCost | currency:''}}</td>
                </tr>
                <tr class="totals">
                    <td></td>
                    <td>Totaal</td>
                    <td class="text-right price">{{$ctrl.total | currency:''}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6">
            <h3>Jouw gegevens</h3>
            <form>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6">
                            <label for="name">Naam</label>
                            <input type="email" class="form-control" id="name" name="name">
                        </div>
                        <div class="col-xs-6">
                            <label for="phone">Telefoonnummer</label>
                            <input type="text" class="form-control" id="phone" name="phone">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6">
                            <label for="street">Straat</label>
                            <input type="text" class="form-control" id="street" name="street">
                        </div>
                        <div class="col-xs-6">
                            <label for="housenumber">Huisnummer</label>
                            <input type="text" class="form-control" id="housenumber" name="housenumber">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6">
                            <label for="city">Plaats</label>
                            <input type="text" class="form-control" id="city" name="city">
                        </div>
                        <div class="col-xs-6">
                            <label for="postcode">Postcode</label>
                            <input type="text" class="form-control" id="postcode" name="postcode">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Naar betaalpagina</button>
            </form>
        </div>
    </div>
</div>